<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addArtikel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Warehouse Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/index'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Artikel ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Artikel suchen</button>
        </form>
    </div>
</nav>
<div style="padding: 2em;">

    <h1>Artikel Formular</h1>

    <form class="form-group" th:object="${artikel}" th:action="@{/addArtikel}" method="post">
        <label>Artikelbezeichnung</label> <br>
        <input type="text" th:field="*{artikelname}" id="name"><br/>
        <span th:if="${#fields.hasErrors('artikelname')}" th:errors="*{artikelname}"></span>
        <label>Einheit</label> <br>
        <input type="text" th:field="*{einheit}"><br/>
        <span th:if="${#fields.hasErrors('einheit')}" th:errors="*{einheit}"></span>
        <label>Preis</label> <br>
        <input type="text" th:field="*{preis}"> <br/>
        <span th:if="${#fields.hasErrors('preis')}" th:errors="*{einheit}"></span>


        <div style="padding-top: 1em">
        <select class="form-control" th:field="${artikel.lieferant.lieferantenNr}">
            <option th:each="l : ${lieferant}" th:text="${l.lieferantenName}" th:value="${l.lieferantenNr}"></option>
        </select>
        <br>
        </div>

        <input type="submit" value="Submit">
    </form>

</div>
</body>
</html>