<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addArtikel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body >
<div th:replace="~{navbar}"></div>
<div style="padding: 2em;">

    <h1>Bitte Artikel eintragen</h1>

    <form class="form-group" th:object="${artikel}" th:action="@{/addArtikel}" method="post">
        <label>Artikelbezeichnung</label> <br>
        <input type="text" th:field="*{artikelname}" id="name"><br/>
        <span th:if="${#fields.hasErrors('artikelname')}" th:errors="*{artikelname}"></span>
        <label>Einheit</label> <br>
        <input type="text" th:field="*{einheit}"><br/>
        <span th:if="${#fields.hasErrors('einheit')}" th:errors="*{einheit}"></span>
        <label>Preis</label> <br>
        <input type="text" th:field="*{preis}"> <br/>
        <span th:if="${#fields.hasErrors('preis')}" th:errors="*{einheit}"></span>


        <div style="padding-top: 1em">
        <select class="form-control" th:field="${artikel.lieferant.lieferantenNr}">
            <option th:each="l : ${lieferant}" th:text="${l.lieferantenName}" th:value="${l.lieferantenNr}"></option>
        </select>
        <br>
        </div>

        <input type="submit" value="Submit">
    </form>

</div>
</body>
</html>