<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ArtikelListe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Warehouse Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/index'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Artikel ID..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Artikel suchen</button>
        </form>
    </div>
</nav>
<div style="padding: 2em">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Artikelliste</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <a th:href="@{'/addArtikel'}" class="btn btn-sm btn-dark btn-create" >Create New</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-dark" border="2">
                <tr>
                    <th>Artikelnummer</th>
                    <th>Artikelname</th>
                    <th>Einheit</th>
                    <th>Preis</th>
                    <th>Lieferant</th>
                </tr>
                <tr th:each="a : ${artikel}">
                    <td th:text="${a.artikelnummer}"></td>
                    <td th:text="${a.artikelname}"></td>
                    <td th:text="${a.einheit}"></td>
                    <td th:text="${a.preis}"></td>
                    <td th:text="${a.lieferant.getLieferantenName()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>